<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExeCRUDWinForm.Properties.Settings.Orange_SupermarketConnectionString"
            connectionString="Data Source=DWI-APRILYA-A-P;Initial Catalog=Orange_Supermarket;User ID=sa;Password=HAdpt023467"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>